// Fonts
$font-one:			'Roboto';
$font-two:			'Haettenschweiler';
$font-size:			14px;
$font-color-dark:	#000;

// Colors
$pink:				#E62961;
$brown:				#935D01;
$green:				#ABDA40;
$orange:			#F15524;;
$trp:				transparent;
